---
import Details from "./function-components/Details";
import PhotoSlider from "./function-components/PhotoSlider";
import Header from "./Header.astro";
---

<div class="container">
	<Header />
	<main class="h-full flex flex-col justify-center">
		<PhotoSlider client:load />
		<Details />
	</main>
</div>

<style>
	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	/* @media screen and (max-height: 368px) {} */
</style>
