---
import leaf from "../assets/leaf-small.png";
import Header from "./Header.astro";
---

<div class="container">
	<Header />
	<main>
		<section></section>
	</main>
</div>

<style>
	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}
	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	/* @media screen and (max-height: 368px) {} */
</style>
